<h1>SASS</h1>
<p>SASS es un precompilador de CSS, soporta dos formatos <code>.sass</code> y <code>.scss</code> y nos genera un <code>.css</code></p>
<p>Vamos a usar el formato <code>.scss</code> porque es el mas sencilo para aprender, puesto que soporta que escirbamos en <code>.css</code> </p>
<p>Existen otros precompiladores como <code>LESS</code> y <code>STYLUS</code></p>
<p><a href="https://sass-lang.com" target="_blank">Documentación oficial</a></p>

<span class="borde10">10</span>
<br>
<span class="borde50">50</span>

<hr>

<button class="boton-verde">Aceptar</button>
<button class="boton-rojo">Cancelar</button>
