li {

    span.titulo{
        font-weight: 500;
        margin-left: 10px;
    }

    span.completada{
        text-decoration: line-through;
        font-weight: 100;
        color: rgb(119, 113, 113);
    }

}