<h2>Jugando con Arrays</h2>

<div class="row">
    <div class="col">
        <pre>
            {{frutas | json }}
        </pre>
    </div>
    <div class="col">
        <p>Precio total: <b>{{total}}</b></p>
        <p>Precio total con descuento: <b>{{totalDescuento}}</b></p>
        <p>solo nombres frutas: <b>{{aSoloNombres}}</b></p>
        <p>Nombre frutas con descuento: <b>{{frutasConDescuento}}</b></p>
        <p>Nombre frutas amarillas: <b>{{frutasAmarillasNombre}}</b></p>
        <p>Precio total frutas amarillas: <b>{{frutasAmarillasPrecio}}</b></p>
        <p>Buscar 1º fruta verde <b>{{fruta1verde | json }}</b></p>
        <p>Colores frutas<b>{{colores | json}}</b></p>
    </div>
</div>
