<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NG APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let r of rutas">
                <a [routerLink]="r.ruta" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">{{r.nombre}}</a>
            </li>

            <!-- rutas si el usuario esta loegado o no -->
            <li class="nav-item">
              <a *ngIf="!usuarioService.estaLogeado()" [routerLink]="'/login'" routerLinkActive="active" class="nav-link">Iniciar Sesión</a>
            </li>

            <li class="nav-item">
              <a *ngIf="usuarioService.estaLogeado()" [routerLink]="'/privado'" routerLinkActive="active" class="nav-link">Backoffice</a>
            </li>

            <li class="nav-item">
              <a *ngIf="usuarioService.estaLogeado()" (click)="salir()" routerLinkActive="active"  class="nav-link text-danger">Cerrar Sesión</a>
            </li>


          </ul>  
        </div>
      </nav>