<h2>Directivas</h2>
<a href="https://angular.io/guide/attribute-directives" target="_blank">Documentación Oficial</a>
<p>Hay tres tipo de directivas en Angualr:</p>

<dl>
    <dt>Components:</dt>
    <dd>son directivas con una plantilla de html.</dd>
    <dt>Estructurales:</dt>
    <dd>cambian el DOM añdiendo o removiendo elementos, por jemplo *ngIf.</dd>
    <dt>Attributo:</dt>
    <dd>cambian la apariencia de un elemento del DOM, por ejemplo NgStyle.</dd>
</dl>
  
<p>Podemos crear nuestras propias directivas usando el comando <code>ng generate directive $nombre_de_nuestra_directiva</code></p>

<p appHello colorTexto="green" colorFondo="black" >En esta etiqueta estamos usando nuestra directiva <code>appHello</code>, mirar la consola para ver las trazas de log</p>
<br>
<br>
<span appHello colorTexto="pink" colorFondo="black">Podemos usar la directiva en cualquier etiqueta</span>

<hr>
<h3>Ejemplo de uso de la Directiva appSubrayar</h3>

<input type="radio" name="color" (click)="colorSeleccionado='pink'">Rosa<br>
<input type="radio" name="color" (click)="colorSeleccionado='orange'">Naranja<br>
<input type="radio" name="color" (click)="colorSeleccionado='peru'">Marron<br>

<p>
    <input type="color" [(ngModel)]="colorSeleccionado" >
    Eligue color personalizado
</p>

<p appSubrayar="green">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia magni cupiditate iste, iure laborum quaerat officiis eligendi explicabo quos sequi ratione quo consectetur voluptatem et cumque ut, illum labore praesentium?</p>
<p [appSubrayar]="'pink'">Beatae fuga, nesciunt ut, quos rem officia est, porro deleniti aspernatur ipsam pariatur iure id possimus aperiam architecto ipsa cum odit debitis veniam unde labore nobis sed. Incidunt, amet itaque.</p>
<p [appSubrayar]="colorSeleccionado">Voluptatem qui praesentium modi. A expedita minima rem, porro laborum illo rerum magni? Ad, aperiam? Sequi, soluta magnam tenetur officiis sapiente vitae saepe voluptatum id quod dolore quidem adipisci hic?</p>




