<h2>Formulario Reactivo</h2>

<p>Acordarse de importar <code>ReactiveFormsModule</code></p>

<div class="row">


    <button (click)="ejemplo()">Ejemplo rellenar de forma dinamica formulario, haz click</button>

    <div class="col">

        {{ formulario.value | json }}
        {{ formulario.status | json }}

        <form [formGroup]="formulario" (ngSubmit)="enviar(formulario.value)">

            <input type="text"  formControlName="nombre">

            <input type="submit" [disabled]="formulario.invalid" 
                   class="btn btn-primary btn-block"
                   value="Crear">

        </form>
  

    </div>
    <!-- /.col 1-->

    <div class="col">
       

        <h3>FormControl para <b>pass</b></h3>
        <a href="https://angular.io/api/forms/FormControl" target="_blank">Documentacion</a>

        <pre>valid: <b></b></pre>      
        <pre>invalid: <b></b></pre>      
        <pre>dirty: el usuario ha modificado el valor del control<b></b></pre>      
        <pre>pristine: el valor del control no ha sido cambiado por el usuario</pre>      
        <pre>touched: el usuario ha tocado el control lanzando un evento <code>blur</code> al salir </pre>      
        <pre>untouched: el usuario no ha tocado y salido del control lanzando ningún evento <code>blur</code> </pre>      
        <pre>Errors: errores de validaciones</pre>      
         
    </div>
    <!-- /.col 2-->

</div>
<!-- /.row -->
